[submodule "node_webui"]
	path = node_webui
	url = git@github.com:runar-labs/node_webui.git
[submodule "rust-apps"]
	path = rust-apps
	url = git@github.com:runar-labs/rust-apps.git
[submodule "rust-docs"]
	path = rust-docs
	url = git@github.com:runar-labs/rust-docs.git
[submodule "rust-examples"]
	path = rust-examples
	url = git@github.com:runar-labs/rust-examples.git
[submodule "rust-macros"]
	path = rust-macros
	url = git@github.com:runar-labs/rust-macros.git
[submodule "rust-node"]
	path = rust-node
	url = git@github.com:runar-labs/rust-node.git
[submodule "rust-e2e-test"]
	path = rust-e2e-test
	url = git@github.com:runar-labs/rust-e2e-test.git
[submodule "rust-services"]
	path = rust-services
	url = git@github.com:runar-labs/rust-services.git
